.btn {
  padding: 10px 40px;
  border-radius: 5px;
  background-color: teal;
  color: white;
  cursor: pointer;
  font-size: 12pt;
  width: 180px;
}
.btn:hover {
  background-color: #006667;
}
.padding {
  padding-left: 3%;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
nav {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 10%;
  border-bottom: 3px dashed lightgray;
  margin-bottom: 0;
  width: 80%;
}
@media (max-width: 500px) {
  nav {
    width: 500px;
    justify-content: center;
    padding: 0px;
    align-items: center;
    flex-direction: column;
    margin-left: 0%;
  }
}
nav .logo {
  margin-right: 10%;
  margin-left: 25%;
  font-size: 1.5rem;
}
@media (max-width: 500px) {
  nav .logo {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}
nav .logo h2 {
  color: black;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 0px;
}
@media (max-width: 500px) {
  nav .logo h2 {
    font-size: 3rem;
  }
}
nav .pagelinks {
  margin-left: auto;
  font-size: 1.5rem;
  margin-right: 10%;
}
@media (max-width: 500px) {
  nav .pagelinks {
    justify-content: center;
    align-content: center;
    margin-left: 10px;
  }
}
nav .pagelinks a {
  color: black;
  margin-left: 20px;
  text-decoration: none;
  padding-top: 10px;
  font-weight: bold;
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
.home .header-section {
  margin-top: -5px;
  margin-bottom: 40px;
  padding: 5px;
  border-bottom: 2px dashed lightgray;
}
.home .header-section p {
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  .home .header-section p {
    padding-left: 3%;
  }
}
@media (max-width: 500px) {
  .home .header-section h2 {
    padding-left: 3%;
  }
}
.home .header-section .img-top {
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .home .header-section .img-top {
    padding-left: 3%;
  }
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .home .content-section {
    padding-left: 3%;
  }
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 500px) {
  .home .content-section .text-content {
    flex-direction: column-reverse;
    width: 100%;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width: 500px) {
  .home .content-section .img-content {
    width: 100%;
  }
}
.home .content-section .img-content img {
  border-radius: 10px;
}
.home .inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed #C0C0C0;
}
@media (max-width: 500px) {
  .home .inverse-content {
    flex-direction: column-reverse;
  }
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
@media (max-width: 500px) {
  .home .inverse-content .text-content {
    padding-left: 0%;
  }
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
@media (max-width: 500px) {
  .home .content-destination {
    padding-left: 3%;
    margin: 0px;
    margin-bottom: 30px;
    width: 100%;
  }
}
.home .content-destination img {
  border-radius: 10px;
}
@media (max-width: 500px) {
  .home .content-destination img {
    border-radius: 10px;
    width: 900px;
  }
}
.home .content-pick {
  padding-top: 30px;
  border-top: 2px dashed #C0C0C0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  .home .content-pick {
    flex-direction: column;
    width: 100%;
    padding-left: 3%;
  }
}
.home .content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .home .content-pick .destination {
    width: 75%;
    padding-left: 3%;
  }
}
@media (max-width: 500px) {
  .home .content-pick .destination .btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
  }
}
